:root {
    --bg-color: #003950;
    --alt-bg-color: #0000004d;
    --font-color: #fff;
    --alt-font-color: #222;
    --primary-color: #008e9f;
    --secondary-color: #00e4ff;
}
.todo-item-wrap {
    display: flex;
    justify-content: center;

    position: relative;

    margin: 20px auto;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 80%;
    height: 49px;
    border-radius: 30px;
    padding: 5px 20px;

    background: rgb(0, 150, 136);
}
.todo-item-checked {
    opacity: 0.5;
    transition: 0.7s;
}
.todo-title {
    width: 100%;
    overflow: hidden;

    color: white;

    text-align: left;
}
.todo-item-checked .todo-title {
    font-style: italic;
    text-decoration: line-through;
}
.setting-space {
    flex-basis: 25%;
    display: flex;
    gap: 5px;
}
.setting-space .setting-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    padding: 12.5px;
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
}
.setting-space .setting-btn:hover {
    color: var(--primary-color);
    background: var(--bg-color);
    opacity: 1;
}