:root {
    --bg-color: #003950;
    --alt-bg-color: #0000004d;
    --font-color: #fff;
    --alt-font-color: #222;
    --primary-color: #008e9f;
    --secondary-color: #00e4ff;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: sans-serif;
}
button {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    background: var(--primary-color);
    color: white;

    transition: 0.7s;
}
button:hover {
    opacity: 0.7;
}
button:active{
    transform: scale(0.96);
    transition: .1s;
}
.container {
    width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #00000045;
    margin: 0 auto;
    padding: 30px;

    background: var(--alt-bg-color);
}
.body-space {
    text-align: center;
}
.filter-space {
    display: flex;
    justify-content: center;
    gap: 2.5px;

    margin-top: 50px;
}
.filter-space .focus-btn {
    background: var(--secondary-color);
    color: black;
}
.remove-all button {
    background: #ba0f30;
}
.is-clear{
    color: white;
}